
<div class="row">
<div class="col-6">
  <strong>Quantity:</strong>
  <%= @kp_product.quantity %>
</div>

<div class="col-6">
  <strong>Price:</strong>
  <%= @kp_product.price %>
</div>

<div class="col-6">
  <strong>Sum:</strong>
  <%= @kp_product.sum %>
</div>

<div class="col-6">
  <strong>Kp:</strong>
  <%= @kp_product.kp %>
</div>

<div class="col-6">
  <strong>Product:</strong>
  <%= @kp_product.product %>
</div>

</div>

<div class="row">
<div class="col-3 btn-group mt-5">
<%= link_to 'Edit', edit_kp_product_path(@kp_product) , class: 'btn btn-success' %> |
<%= link_to 'Back', kp_products_path, class: 'btn btn-outline-primary' %>
</div>
</div>
