<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-12 h3"><%= page_title %></div>
    <div class="col row align-items-center justify-content-start">
    <%= f.input :name, label: "Имя", wrapper_html: { class: "col-4 mt-2" } %>
    <%= f.input :middlename, label: "Отчество", wrapper_html: { class: "col-4 mt-2" } %>
    <%= f.input :surname, label: "Фамилия", wrapper_html: { class: "col-4 mt-2" } %>
    <%= f.input :phone, label: "Телефон", wrapper_html: { class: "col-4 mt-2" } %>
    <%= f.input :email, label: "Е-mail", wrapper_html: { class: "col-6 mt-2" } %>
    <%= f.input :zip, wrapper_html: { class: "col-4" }  %>
    <%= f.input :state, label: "Область", wrapper_html: { class: "col-4 mt-2" } %>
    <%= f.input :city, wrapper_html: { class: "col-4" } %>
    <%= f.input :address, label: "Адрес", wrapper_html: { class: "col-8 mt-2" } %>
  </div>
  <div class="row">
  <div class="col-3 btn-group mt-5">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to 'Назад', :back, class: 'btn btn-outline-primary' %>
  </div>
  </div>
<% end %>
