<div class="row justify-content-center align-items-center mb-4">
  <div class="col-2 row">
    <div class="col-md-12 p-0">
      <div class="h3">Клиенты</div>
      <div class="h6">Всего - <%= Client.count %></div>
    </div>
  </div>
  <div class="col-10 pl-0 pr-0 row">
    <div class="col-12 mb-3">
      <div class="btn-group p-0" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown">Действия</button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <%= link_to 'New Client', new_client_path, class: 'dropdown-item' %>
            <%# link_to 'Создать заказ', edit_multi_case_iorder_cases_path, class: 'dropdown-item', id: 'edit_multi_case_iorder', remote: true, data: { toggle: 'modal', target: '#modal-edit' } %>
          </div>
        </div>
      </div>
    </div>

  <%= search_form_for @search, {class: 'form-inline col-12 pl-0 pr-0'} do |f| %>
    <div class="input-group input-group-sm">
      <%= f.search_field :name_or_middlename_or_surname_cont , placeholder: 'ФИО', class: "form-control", style: "max-width: 180px;" %>
      <%= button_tag(type: 'submit', :class => "btn btn-info") do %>
        <span class="oi oi-magnifying-glass"></span>
      <% end %>
      <%= link_to '<span class="oi oi-reload"></span>'.html_safe, clients_path, class: 'btn btn-outline-dark ' %>
      <%# link_to '<span class="oi oi-trash"></span>'.html_safe, delete_selected_clients_path, class: 'btn btn-secondary', id: 'deleteAll', remote: true %>
    </div>
  <% end %>
</div>
</div>

<div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
  <table class="table table-hover table-condensed">
  <thead>
    <tr class="text-secondary">
      <th><%= check_box_tag 'selectAll', 'selectAll'%></th>
      <th>ФИО</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Zip</th>
      <th>State</th>
      <th>City</th>
      <th>Address</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="items_table" class="border-0">
    <% @clients.each do |client| %>
    <tr>
      <td><%= check_box_tag "client_ids[]", client.id %></td>
        <td><%= link_to client.name, edit_client_path(client) %><br /><%= client.middlename %><br /><%= client.surname %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td><%= client.zip %></td>
        <td><%= client.state %></td>
        <td><%= client.city %></td>
        <td><%= client.address %></td>
        <td><%= link_to '<span class="oi oi-trash"></span>'.html_safe, client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div class="apple_pagination">
<%= will_paginate @clients %>
</div>
