<%= simple_form_for (@order) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<div class="row">
  <div class="col-12 h3"><%= page_title %></div>
  <div class="col-5 row align-content-start">
    <%= f.input :number, label: "Номер", as: :string, disabled: true, placeholder: "Номер заказа" , wrapper_html: { class: "col-3" } %>
    <%= f.input :created_at, as: :date, html5: true, disabled: true, placeholder: "Дата", wrapper_html: { class: "col-5" } %>
    <%= f.input :status, label: "Статус", collection: Order::STATUS, prompt: "Статус", input_html: { class: "form-select" } , wrapper_html: { class: "col-4" } %>
    <% if current_user.admin? %>
      <%= f.association :user, label: "Менеджер", input_html: { class: "form-select" }, wrapper_html: { class: "col-8 mt-3" } %>
    <% else %>
      <%= f.association :user, label: "Менеджер", disabled: true, input_html: { class: "form-select" }, wrapper_html: { class: "col-8 mt-3" } %>
    <% end %>
      <%= f.association :client, prompt: false, label: "Клиент", input_html: { class: "form-select" }, wrapper_html: { class: "col-6 mt-3" } %>
<div class="form-group col-6 mt-3">
  <label class="">Данные клиента:</label><br>
  <small class="form-text text-muted">
  Телефон: <%= @order.client.phone %><br>
  E-mail: <%= @order.client.email %><br>
  Область: <%= @order.client.state %><br>
  Адрес: <%= @order.client.address %>
  </small>
</div>
    <%# f.association :company, prompt: "Компания", input_html: { class: "form-select" }, include_blank: true, selected: lambda { |company|  @order.client.companies.first.id if !@order.company_id.present? && @order.client.companies.present? }, wrapper_html: { class: "col-6 mt-3" } %>
    <%# f.association :company, prompt: false, include_blank: true, input_html: { class: "form-select" }, wrapper_html: { class: "col-7 mt-3" } %>
    <%= f.input :company_title, as: :autocomplete, label: "Заказчик", url: autocomplete_company_title_orders_path, wrapper_html: { class: "col-6 mt-3" }, input_html: { 'data-id-element' => '#order_company_id' } %>
    <%= f.input :company_id, as: :hidden %>
    <%= f.association :companykp1, label: 'Компания КП1', collection: Company.our, prompt: false, include_blank: true, input_html: { class: "form-select" }, wrapper_html: { class: "col-4 mt-3" } %>
    <%= f.association :companykp2, label: 'Компания КП2', collection: Company.our, prompt: false, include_blank: true, input_html: { class: "form-select" }, wrapper_html: { class: "col-4 mt-3" } %>
    <%= f.association :companykp3, label: 'Компания КП3', collection: Company.our, prompt: false, include_blank: true, input_html: { class: "form-select" }, wrapper_html: { class: "col-4 mt-3" } %>
  </div>
  <div class="col-7 row align-items-center">
    <div class="col p-0 h4">Коммерческие предложения</div>
    <%= link_to 'Создать', new_order_kp_path(@order), class: 'btn btn-dark col-3' if !@order.new_record?%>
    <div class="col-12 mt-3 p-0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Тип КП</th>
            <th>Статус</th>
            <th>Название</th>
            <th>Дата</th>
            <th>Кол-во товаров</th>
            <th>Сумма</th>
            <th>Комментарий</th>
          <th colspan="<% if current_user.admin? %>4<%else%>3<%end%>"></th>
          </tr>
        </thead>
        <tbody>
          <% @order.kps.order('created_at' => 'asc' ).each do |kp| %>
            <tr class="align-middle">
              <td><%= kp.vid %></td>
              <td><%= kp.status %></td>
              <td><%= kp.title %></td>
              <td><%= kp.created_at.strftime("%d.%m.%Y") %></td>
              <td><%= kp.kp_products.count %></td>
              <td><%= kp.kp_products.sum(:sum) %></td>
              <td><%= kp.comment %></td>
              <td><%= link_to '<span class="oi oi-pencil"></span>'.html_safe, edit_order_kp_path(@order, kp) %></td>
              <td><%= link_to '<span class="oi oi-file"></span>'.html_safe, copy_order_kps_path(@order, kp) %></td>
              <td class="nav-item dropdown">
                <a class="dropdown-toggle" href="#" id="print_navbardrop" data-bs-toggle="dropdown"><i class="oi oi-print"></i></a>
                <div class="dropdown-menu">
                  <%= link_to "КП1", print1_order_kps_path(@order, kp, :format => :pdf), {class: 'dropdown-item', target: '_blank'} %>
                  <%if @order.companykp2.present? %>
                  <%= link_to "КП2", print2_order_kps_path(@order, kp, :format => :pdf), {class: 'dropdown-item', target: '_blank'} %>
                  <%= link_to "КП2 ранд", print2_order_kps_path(@order, kp, :format => :pdf, type: 'random'), {class: 'dropdown-item', target: '_blank'} %>
                  <% else %>
                  <%= link_to "КП2", print2_order_kps_path(@order, kp, :format => :pdf), {class: 'dropdown-item'} %>
                  <%= link_to "КП2 ранд", print2_order_kps_path(@order, kp, :format => :pdf, type: 'random'), {class: 'dropdown-item'} %>
                  <% end %>
                  <%if @order.companykp3.present? %>
                  <%= link_to "КП3", print3_order_kps_path(@order, kp, :format => :pdf), {class: 'dropdown-item', target: '_blank'} %>
                  <%= link_to "КП3 ранд", print3_order_kps_path(@order, kp, :format => :pdf, type: 'random'), {class: 'dropdown-item', target: '_blank'} %>
                  <% else %>
                  <%= link_to "КП3", print3_order_kps_path(@order, kp, :format => :pdf), {class: 'dropdown-item'} %>
                  <%= link_to "КП3 ранд", print3_order_kps_path(@order, kp, :format => :pdf, type: 'random'), {class: 'dropdown-item'} %>
                  <% end %>
                </div>
              </td>
              <% if current_user.admin? %>
              <td><%= link_to '<span class="oi oi-trash"></span>'.html_safe, [@order, kp], method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3 btn-group mt-5">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to 'Назад', orders_path, class: 'btn btn-outline-primary' %>
  </div>
</div>
<% end %>
