<div class="row justify-content-center align-items-center mb-4">
  <div class="col-2 row">
    <div class="col-md-12 p-0">
      <div class="h3">Заказы</div>
      <div class="h6">Всего - <%= Order.count %></div>
    </div>
  </div>
  <div class="col-10 pl-0 pr-0 row">
    <div class="col-12 mb-3">
      <% if can? :download, Order %>
      <div class="btn-group p-0" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown">Действия</button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <%# link_to 'New Order', new_order_path, class: 'dropdown-item' %>
            <%= link_to 'Ипортировать', download_orders_path, class: 'dropdown-item ' %>
            <%# link_to 'Создать заказ', edit_multi_case_iorder_cases_path, class: 'dropdown-item', id: 'edit_multi_case_iorder', remote: true, data: { toggle: 'modal', target: '#modal-edit' } %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  <%= search_form_for @search, {class: 'form-inline col-12 pl-0 pr-0'} do |f| %>
    <div class="input-group input-group-sm">
      <%= f.select :status_in, Order::STATUS, { :prompt => 'Статус'}, class: "form-select", style: "max-width: 180px;" %>
      <%= f.search_field :number_eq , placeholder: 'Номер', class: "form-control", style: "max-width: 180px;" %>
      <%= f.collection_select :user_id_eq, User.all, "id", "name", {:prompt => 'Пользователь'} , {:class => "form-select", :style => "max-width:200px;"} if current_user.admin? %>
      <%# f.collection_select :client_id_eq, Client.all, "id", "full_name", {:prompt => 'Клиент'} , {:class => "form-select", :style => "max-width:200px;"} %>
      <%# f.text_field :client_name_cont, "data-autocomplete" => autocomplete_client_name_orders_path, class: "form-control input-sm" , placeholder: 'Контакт'%>
      <%= f.search_field :client_name_or_client_surname_cont, class: "form-control input-sm" , placeholder: 'Контакт'%>
      <%# f.collection_select :company_id_eq, Company.all, "id", "title", {:prompt => 'Компания'} , {:class => "form-select", :style => "max-width:200px;"} %>
      <%= button_tag(type: 'submit', :class => "btn btn-info") do %><span class="oi oi-magnifying-glass"></span><% end %>
      <%= link_to '<span class="oi oi-reload"></span>'.html_safe, orders_path, class: 'btn btn-outline-dark ' %>
      <%= link_to '<span class="oi oi-trash"></span>'.html_safe, delete_selected_orders_path, class: 'btn btn-secondary', id: 'deleteAll', remote: true %>
    </div>
  <% end %>
</div>
</div>
<div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
    <table class="table table-hover table-condensed">
    <thead>
      <tr class="text-secondary">
        <th ><%= check_box_tag 'selectAll', 'selectAll'%></th>
        <th class="text-center">Статус</th>
        <th class="text-center">Номер</th>
        <th>Контакт</th>
        <th>Дата</th>
        <th>Сумма</th>
        <th>Ответственный</th>
        <!-- <th>Компания</th> -->
        <th>Кол-во КП</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody id="items_table" class="border-0">
      <% @orders.each do |order| %>
        <tr>
          <td><%= check_box_tag "order_ids[]", order.id %></td>
          <td class="<%= order_status_bg_color(order.status)%>"><%= order.status %></td>
          <td class="text-center"><%= link_to order.number, edit_order_path(order) %>
            <%= link_to 'Догрузить', download_orders_path(insid: order.insid), class: 'dropdown-item ' if current_user.admin? && order.insid.present? %>
          </td>
          <td><%= order.client.name if order.client %>
            <p><%= order.client.surname if order.client %></p>
          </td>
          <td><%= order.created_at.strftime("%d.%m.%Y") %></td>
          <td><%= order.kps.order('created_at' => 'asc' ).first.kp_products.sum(:sum) if order.kps.present? %></td>
          <td><%= order.user.name if order.user %></td>
          <!-- <td><%# order.company.title if order.company %></td> -->
          <td><%= order.kps.count %></td>
          <td><%= link_to '<span class="oi oi-trash"></span>'.html_safe, order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="apple_pagination">
<%= will_paginate @orders %>
</div>
