<div class="row justify-content-center align-items-center mb-2">
  <div class="col-2 row">
    <div class="col-md-12 p-0">
      <div class="h3">Заказы</div>
      <div class="h6">Всего - <%= Order.count %></div>
    </div>
  </div>
  <div class="col-10 pl-0 pr-0 row">
    <div class="col-12 mb-3">
      <div class="btn-group p-0" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown">Действия</button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <%# link_to 'New Order', new_order_path, class: 'dropdown-item' %>
            <%= link_to 'Ипортировать', download_orders_path, class: 'dropdown-item ' %>
            <%# link_to 'Создать заказ', edit_multi_case_iorder_cases_path, class: 'dropdown-item', id: 'edit_multi_case_iorder', remote: true, data: { toggle: 'modal', target: '#modal-edit' } %>
          </div>
        </div>
      </div>
    </div>

  <%= search_form_for @search, {class: 'form-inline col-12 pl-0 pr-0'} do |f| %>
    <div class="input-group input-group-sm">
      <%= f.select :status_in, Order::STATUS, { :prompt => 'Статус'}, class: "form-select", style: "max-width: 180px;" %>
      <%= f.search_field :number_eq , placeholder: 'number', class: "form-control", style: "max-width: 180px;" %>
      <%= f.collection_select :client_id_eq, Client.all, "id", "full_name", {:prompt => 'Client'} , {:class => "form-select", :style => "max-width:200px;"} %>
      <%= f.collection_select :company_id_eq, Company.all, "id", "title", {:prompt => 'Company'} , {:class => "form-select", :style => "max-width:200px;"} %>
      <%= button_tag(type: 'submit', :class => "btn btn-info") do %>
        <span class="oi oi-magnifying-glass"></span>
      <% end %>
      <%= link_to '<span class="oi oi-reload"></span>'.html_safe, orders_path, class: 'btn btn-outline-dark ' %>
      <%= link_to '<span class="oi oi-trash"></span>'.html_safe, delete_selected_orders_path, class: 'btn btn-secondary', id: 'deleteAll', remote: true %>
    </div>
  <% end %>
</div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
  <thead>
    <tr class="bg-success">
      <th><%= check_box_tag 'selectAll', value: 'selectAll'%></th>
      <th>Status</th>
      <th>Номер</th>
      <th>Клиент</th>
      <th>Дата</th>
      <th>Сумма</th>
      <th>Компания</th>
      <th>Кол-во КП</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr id="items_table">
        <td><%= check_box_tag "order_ids[]", order.id %></td>
        <td><%= order.status %></td>
        <td><%= link_to order.number,  edit_order_path(order) %></td>
        <td><%= order.client.name if order.client %></td>
        <td><%= order.created_at.strftime("%d.%m.%Y") %></td>
        <td><%= order.kps.order('created_at' => 'asc' ).first.kp_products.sum(:sum) %></td>
        <td><%= order.company.title if order.company %></td>
        <td><%= order.kps.count %></td>
        <td><%= link_to '<span class="oi oi-trash"></span>'.html_safe, order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div class="apple_pagination">
<%= will_paginate @orders %>
</div>
