
<%= simple_form_for(@excel_price) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-12 h3"><%= page_title %></div>
    <div class="col-6 row">
    <%= f.input :title %>
    <%= f.input :link %>
    <%= f.input :price_move, collection: [['+','plus'], ['-','minus']], include_blank: false, input_html: { class: 'form-select' }, wrapper_html: { class: 'col-auto' } %>
    <%= f.input :price_shift, type: "number", wrapper_html: { class: 'col-auto' } %>
    <%= f.input :price_points,  collection: [['%','percents'], ['ед.','fixed']], include_blank: false, input_html: { class: 'form-select' }, wrapper_html: { class: 'col-auto' } %>
    <%= f.input :comment %>    
    </div>
</div>
  <div class="row">
  <div class="col-3 btn-group mt-5">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to 'Назад', :back, class: 'btn btn-outline-primary' %>
  </div>
  </div>
<% end %>
