
<%= simple_form_for ([@order, @kp]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="row mx-auto">
    <div class="col-12 row mt-3 mb-3">
      <div class="h4 col-2"><%= page_title %></div>
      <%= f.input :title, label: false, placeholder: 'Заголовок' , wrapper_html: { class: "col-8" }%>
    </div>
    <div class="col-12 row">
    <% if current_user.admin? %>
    <%= f.input :vid, collection: Kp::VID, label: 'Тип КП', prompt: "Тип", input_html: { class: "form-select" } , wrapper_html: { class: "col-2" } %>
    <% else %>
    <%= f.input :vid, disabled: true, collection: Kp::VID, label: 'Тип КП', prompt: "Тип", input_html: { class: "form-select" } , wrapper_html: { class: "col-2" } %>
    <% end %>
    <%= f.input :status, collection: Kp::STATUS, prompt: "Статус", label: 'Статус', input_html: { class: "form-select" } , wrapper_html: { class: "col-2" } %>
    <%= f.input :extra, wrapper_html: { class: "col-2" }, input_html: {min: "0", step: "0.01"} %>
    <%= f.input :comment, label: 'Комментарий', as: :text, wrapper_html: { class: "col-6" } %>
    </div>
    <div class="col-12 row">
      <div class='links col-12 mt-3 mb-3'>
      <% if !@kp.new_record? %>
      <%= link_to '<span class="oi oi-cloud-download"></span>'.html_safe, file_export_order_kps_path(@order, @kp, format: 'csv'), id: 'file_export', class: 'btn btn-light btn-sm', title: 'file export' %>
      <%= link_to '<span class="oi oi-cloud-upload"></span>'.html_safe, file_import_order_kps_path(@order, @kp), remote: 'true', id: 'file_import', title: 'file import', 'data-bs-toggle' => "modal", 'data-bs-target' => '#modal-edit', class: 'btn btn-light btn-sm' %>
      <% end %>
      <%= link_to_add_association "Добавить позицию", f, :kp_products, 'data-association-insertion-node' => "#kp_products", 'data-association-insertion-method' => "append", id: 'add_items', class: "btn btn-dark btn-sm", onclick: "initLine()"  %>
    </div>
    <div class="col-md-10 card card-body border-light shadow-sm table-wrapper table-responsive pt-2">
    <table class="table table-hover" id="kp_products">
      <thead>
        <tr class="text-secondary">
          <th>Изоб.</th>
          <th><%= t 'item_title' %></th>
          <th>Описание</th>
          <th><%= t 'item_quantity' %></th>
          <th><%= t 'item_price' %></th>
          <th><%= t 'item_sum' %></th>
        <th></th>
        </tr>
      </thead>
      <tbody class="border-0">
      <%= f.simple_fields_for :kp_products do |kp_product| %>
         <%= render 'kp_product_fields', :f => kp_product %>
      <% end %>
      </tbody>
      <tfoot class="border-0">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Итого:</td>
          <td id="kp-total"></td>
        </tr>
      </tfoot>
    </table>
    </div>
</div>

<div class="row">
  <div class="col-3 btn-group mt-5">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%# link_to 'Назад', edit_order_path(@order), class: 'btn btn-outline-primary' %>
    <%= link_to 'Назад', :back, class: 'btn btn-outline-primary' %>
  </div>
</div>
<% end %>
