<tr class="nested-fields align-middle">
  <td style="width:60px;">
    <% image = f.object.product.present? && f.object.product.images.present? ? f.object.product.images.first : ''%>
    <%= image_tag image %>
  </td>
  <td class="" style="width:35%;">
    <%# f.association :product, label: false, collection: Product.all.map { |product| ["("+product.sku+") "+product.title, product.id, {data: {sku: product.sku}}] } %>
	<%= f.input :product_title, as: :autocomplete, label: false, url: autocomplete_product_title_order_kps_path , input_html: {onkeyup: "getId(this.id)", onclick:"productAutocomplete(this.id)"}%>
  <%= f.input :product_id, as: :hidden %>
</td>
  <td>
    <% pr_desc = f.object.product.present? ? f.object.product.desc : '' %>
    <% value = f.object.desc.present? ? f.object.desc : pr_desc %>
    <%= f.input :desc, as: :text, label: false , input_html: {value: value, rows: "1"} %>
  </td>
  <td style="width:90px;"><%= f.input :quantity, as: :integer, label: false, input_html: {min: "0" , onchange: "calculate(this.value)"} %></td>
  <td style="width:155px;"><%= f.input :price, as: :decimal, label: false, input_html: {min: "0", onchange: "calculate()", step: "0.01"}%></td>
  <td style="width:155px;"><%= f.input :sum, as: :decimal, label: false, input_html: {min: "0", onchange: "calculate()", step: "0.01"} %></td>
  <%# f.association :kp %>
  <td><%= link_to_remove_association '<span class="oi oi-trash"></span>'.html_safe, f %></td>
</tr>
