<!DOCTYPE html >
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= wicked_pdf_stylesheet_link_tag("print3") %>
  <%= wicked_pdf_javascript_include_tag("number_pages") %>
  <title><% if @kp.title.present? %><%= @kp.title%><%else%>КП № <%= current_user.id%>-<%= @kp.id %><% end %>  от <%= @kp.created_at.strftime("%d / %m / %Y")%></title>
</head>
<body onload="my_number_pages()">
  <!-- <p id="status">Страница загружена</p>
  Page <span class="page"></span> of <span class="topage"></span>
  <p id="pdf_console_output">pdf_console_output</p>
  <div id="header">
    <%#  params.key?('debug') ? image_tag('/logo_little__200x70_.png') : wicked_pdf_image_tag("/logo_little__200x70_.png", :class =>'logo') %>
  </div>
<div> -->

  <div class="wrapper">

		<table class="generalInfo">
			<tbody>
				<tr>
				<td><b>Поставщик:</b> <%= @our_company.fulltitle.camelize%></td>
				</tr>
				<tr>
				<td><b>Адрес:</b> <%= @our_company.uraddress%></td>
				</tr>
				<tr>
				<td><b>Телефон:</b> (81378) 20581б 89213955526</td>
				</tr>
				<tr>
				<td><b>Банк:</b> <%= @our_company.banktitle%></td>
				</tr>
				<tr>
				<td><b>Р/С:</b> <%= @our_company.bankaccount%></td>
				</tr>
				<tr>
				<td><b>БИК:</b> <%= @our_company.bik%></td>
				</tr>
				<tr>
				<td><b>ИНН:</b> <%= @our_company.inn%></td>
				</tr>
				<tr>
				<td><b>КПП:</b> <%= @our_company.kpp%></td>
				</tr>
				<tr>
				<td><b>ОГРН:</b> <%= @our_company.ogrn%></td>
				</tr>
			</tbody>
		</table>
		<div class="kp-title">
			<h1><% if @kp.title.present? %><%= @kp.title%><%else%>КП № <%= current_user.id%>-<%= @kp.id %><% end %></h1>
			</div>
			<table class="itemsInfo">
      <tr>
				<th>№ п/п</th>
        <th style="width: 220px;">товар</th>
        <th>ед. изм.</th>
				<th>кол-во</th>
        <th>цена (руб. без НДС)</th>
        <th>сумма (руб. без НДС)</th>
        <!-- <th>Комментарий</th> -->
      </tr>

      <% @kp_products.each_with_index do |kp, i| %>
        <tr>
          <td class="center"><%= (i+1) %></td>
          <td><%= kp[:title] %></td>
          <td class="center">шт</td>
					<td class="center"><%= kp[:quantity] %></td>
          <td class="center"><%= kp[:price] %></td>
          <td class="center"><%= kp[:sum]%></td>
          <!-- <td class="comment"></td> -->
        </tr>
      <% end %>

    </table>

    <div class="summary">Итого:&nbsp;&nbsp;<%= (@kp.kp_products.sum(:sum).truncate(2).to_s("F") + "00")[ /.*\..{2}/ ] %> руб</div>
		<p>Дата <%= @kp.created_at.strftime("%d / %m / %Y")%></p>
    <!-- <p>Всего наименований <%# @kp.kp_products.count%>, на сумму <%# RuPropisju.rublej(@kp.kp_products.sum(:sum))%></p> -->

		<table class="signs">
			<tr>
				<td>
				М П
				</td>
			</tr>
		</table>

  </div>

</div>
</body>
</html>
