<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= wicked_pdf_stylesheet_link_tag("print1") %>
    <%= wicked_pdf_javascript_include_tag("number_pages") %>
  </head>
  <body onload="number_pages()">
    <div class="footer-banner clearfix">
      <div class="footer-first-part">
        <%= render "pdf_image", image_link: '/kp_zagolovok1.png', image_class: '' %>
      <ul>
          <li>мебель для ДОУ и школ</li>
          <li>Фотообои, интерьерное оформление ДОУ и школ</li>
          <li>стенды, таблички, наклейки</li>
          <li>декорации, оформление уголков и зон в ДОУ и школах</li>
          <li>уличное оборудование</li>
      </ul>
      </div>
      <div class="footer-second-part">
        <%= render "pdf_image", image_link: '/kp_zagolovok2.png', image_class: ''  %>
      <ul>
          <li>уличное игровое оборудование</li>
          <li>посуда и хоз товары</li>
          <li>игровое развивающее оборудование</li>
          <li>интерактивное оборудование</li>
          <li>оснащение для классов</li>
      </ul>
      </div>
      <div class="footer-third-part">
        <div class="label">Ваш менеджер</div>
        <table>
          <tr>
            <th colspan="2" style="text-align: center;"><% if @kp.order.user.present? %><%= @kp.order.user.name %><% else %>Тест<% end %></th>
            <tr>
              <th><%= render "pdf_image", image_link: '/kp_phone.png', image_class: ''  %></th>
              <th><% if @kp.order.user.present? && @kp.order.user.phone.present? %><%= @kp.order.user.phone %><% else %>88005501314<% end %></th>
            </tr>
            <tr>
              <th><%= render "pdf_image", image_link: '/kp_email.png', image_class: ''  %></th>
              <th>info@adventer.su</th>
            </tr>
          </tr>
        </table>
      </div>
    </div>
<!-- <center>Invoice was created on a computer and is valid without the signature and seal.<span class="footerContent">test</span></center>
<center>
  <span style="margin-right: 60px;">__________________(подпись)</span><span style="margin-right: 60px;">__________________(подпись)</span>Стр. <span class="page"></span> из <span class="topage"></span>
</center> -->
  </body>
</html>
