<!DOCTYPE html >
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= wicked_pdf_stylesheet_link_tag "print2" %>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
  <title><% if @kp.title.present? %><%= @kp.title%><%else%>КП № <%= current_user.id%>-<%= @kp.id %><% end %>  от <%= @kp.created_at.strftime("%d / %m / %Y")%></title>
</head>
<body onload='number_pages'>
<div>

  <div class="wrapper">

<%= wicked_pdf_image_tag("/logo_little__200x70_.png", :class =>'logo') %>

		<table class="generalInfo">
			<tbody>
				<tr>
				<th>Поставщик:</th>
				<th>ООО "Адвентер"</th>
				</tr>
				<tr>
				<td>Электронный адрес:</td>
				<td>info@adventer.su</td>
				</tr>
				<tr>
				<td>Телефон:</td>
				<td>8 800 550 13 14</td>
				</tr>
				<tr>
				<td>Сайт:</td>
				<td>https://adventer.su</td>
				</tr>
				<tr>
				<th>Покупатель:</th>
				<th></th>
				</tr>
				<tr>
				<td>Телефон:</td>
				<td><%= @client.phone %></td>
				</tr>
			</tbody>
		</table>
    <center><h1><% if @kp.title.present? %><%= @kp.title%><%else%>КП № <%= current_user.id%>-<%= @kp.id %><% end %>  от <%= @kp.created_at.strftime("%d / %m / %Y")%></h1></h1></center>
    <table class="itemsInfo">
      <tr>
        <th>№</th>
        <th>Артикул</th>
        <th>Фото</th>
        <th style="width: 220px;">Товар</th>
        <th>Ед.</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Сумма</th>
        <th>Комментарий</th>
      </tr>

      <% @kp_products_data.each_with_index do |kp, i| %>
        <tr>
          <td class="center"><%= (i+1) %></td>
          <td class="center"><%= kp[:sku] %></td>
          <td class="center"><%= image_tag wicked_image_active_storage_workaround(kp[:image_url]), style: "max-width:40px;" %></td>
          <td><%= kp[:title] %></td>
          <td class="center">шт</td>
          <td class="money"><%= kp[:price] %></td>
          <td class="center"><%= kp[:quantity] %></td>
          <td class="money"><%= kp[:sum]%></td>
          <td class="comment"></td>
        </tr>
      <% end %>

    </table>

    <div class="summary">Итого:&nbsp;&nbsp;<%= @kp.kp_products.sum(:sum)%> руб</div>

    <p>Всего наименований <%= @kp.kp_products.count%>, на сумму <%= RuPropisju.rublej(@kp.kp_products.sum(:sum))%></p>

		<table class="signs">
			<tr>
				<td>
				Отпустил___________________________________
				</td>
			</tr>
		</table>

  </div>

</div>
</body>
</html>
