<!DOCTYPE html >
<html>
  <head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<%= wicked_pdf_stylesheet_link_tag("print1") %>
		<%= wicked_pdf_javascript_include_tag("number_pages") %>
    <title><% if @kp.title.present? %><%= @kp.title%><%else%>КП № <%= current_user.id%>-<%= @kp.id %><% end %>  от <%= @kp.created_at.strftime("%d / %m / %Y")%></title>
  </head>
  <body onload="check_first_page()">
	<div class="headerContent" style="text-align: right;font-size: 12px;">
	   тестовый текст
	</div>
  <div id="pdf_console_output">
	</div>
  </body>
</html>
