<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><% if @kp.title.present? %><%= @kp.title%><%else%>КП № <%= current_user.id%>-<%= @kp.id %><% end %>  от <%= @kp.created_at.strftime("%d / %m / %Y")%></title>
    <%= wicked_pdf_stylesheet_link_tag("print1") %>
    <%= wicked_pdf_javascript_include_tag("number_pages") %>
  </head>
  <body <%if params.key?('debug') %>class="debug"<% end %>>
    <header class="headerContent clearfix">
        <div id="header-left-part">
          <div class="logo-image">
            <%= render "pdf_image",  image_link: '/logo_little__200x70_.png' , image_class: ''  %>
          </div>
          <div class="header-left-part-bottom">
            <table>
              <thead>
                <th><%= render "pdf_image", image_link: '/kp_phone.png', image_class: 'w25'  %></th>
                <th>88005501314</th>
                <th><%= render "pdf_image", image_link: '/kp_email.png', image_class: 'w25'  %></th>
                <th><a href="mailto:info@adventer.su">info@adventer.su</a></th>
                <th><%= render "pdf_image", image_link: '/kp_globus.png', image_class: 'w25'  %></th>
                <th>www.adventer.su</th>
              </thead>
            </table>
          </div>
        </div>
        <div id="header-right-part">
          <h4 class="name"><%= @our_company.fulltitle.camelize%></h4>
          <div><%= @our_company.uraddress%></div>
          <div>ИНН: <%= @our_company.inn%></div>
          <div>КПП: <%= @our_company.kpp%></div>
        </div>
    </header>

    <main>

      <div class="kp-title">
        <center>
          <h1><% if @kp.title.present? %><%= @kp.title%><%else%>КП № <%= current_user.id%>-<%= @kp.id %><% end %>  от <%= @kp.created_at.strftime("%d / %m / %Y")%></h1>
        </center>
      </div>

      <table id="kp_items" border="1" cellspacing="0" cellpadding="0" class="alwaysbreak"<% if @kp.kp_products.count > 5 %> style="height: 247mm;"<% end %> >
        <thead>
          <tr class="kp_items_header">
            <th class="">№</th>
            <th class="">Фото</th>
            <th class="" style="min-width: 80px;">Артикул</th>
            <th class="">Наименование товара</th>
            <th class="" style="min-width: 100px;">Цена</th>
            <th class="" style="max-width: 40px;">Кол.</th>
            <th class="" style="min-width: 110px;">Сумма</th>
          </tr>
        </thead>
        <tbody>
          <% @kp.kp_products.each_with_index do |kp, i| %>
          <tr>
            <td class="item-nu"><%= (i+1) %></td>
            <td class="item-image">
              <% image = kp.product.images.first %>
              <% link = image.present? ? "/tmp"+wicked_image_active_storage_workaround(image).to_s.split('/tmp').last : '' %>
              <%= render "pdf_image", image_link: link, image_class: 'w45 image-product-contain' if image.present? %>
            </td>
            <td class="item-sku"><%= kp.product.sku.truncate(20) if kp.product.sku.present? %></td>
            <td class="item-title"><%= kp.product.title %><br><%= kp.desc %></td>
            <!-- <td class="qty">шт</td> -->
            <td class="item-price"><%= kp.price %> руб</td>
            <td class="item-qt"><%= kp.quantity %></td>
            <td class="item-sum"><%= (kp.sum.truncate(2).to_s("F") + "00")[ /.*\..{2}/ ] %> руб</td>
          </tr>
          <% end %>
          <tr>
            <td colspan="4"></td>
            <td class="item-itogo" colspan="2">ИТОГО</td>
            <td class="item-itogo-sum"><%= (@kp.kp_products.sum(:sum).truncate(2).to_s("F") + "00")[ /.*\..{2}/ ] %> руб</td>
          </tr>
        </tbody>
      </table>

      <div class="wrapper-notice">
        <div id="thanks">Организация работает без НДС на основании ст. 346.11 НК РФ.<br>Цены по данному коммерческому предложению действительны в течение 14 дней.</div>
        <div id="notices">
          <!-- <div>NOTICE:</div> -->
          <div class="notice">
            <div class="text">Менеджер</div>
            <div class="podpis">
              <% if @kp.order.user.present? && @kp.order.user.avatar.attached? %>
              <% image = @kp.order.user.avatar %>
              <% link = image.present? ? "/tmp"+wicked_image_active_storage_workaround(image).to_s.split('/tmp').last : '' %>
              <%= render "pdf_image", image_link: link, image_class: '' if image.present? %>
              <% end %>
              </div>
              <div class="fio"><% if @kp.order.user.present? %><%= @kp.order.user.name %><% else %>Тест<% end %></div>
            </div>
        </div>
        <div class="notice-date">Дата <%= @kp.created_at.strftime("%d / %m / %Y")%></div>
        <div class="notice-stamp">М П
          <% if @kp.vid == 'Основное' && @kp.status == 'Согласовано бухгалтером' || @kp.status == 'Договор'%>
          <% image = @our_company.images.first %>
          <% link = image.present? ? "/tmp"+wicked_image_active_storage_workaround(image).to_s.split('/tmp').last : '' %>
          <%= render "pdf_image", image_link: link, image_class: 'pechat' if image.present? %>
          <% end %>
        </div>
      </div>

    </main>

  </body>
</html>
