<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= wicked_pdf_stylesheet_link_tag("print1") %>
    <%= wicked_pdf_javascript_include_tag("number_pages") %>
  </head>
  <body onload="number_pages()">
<div class="footer-banner clearfix">
  <div class="footer-left-part">
    <table class="footer-banner-text">
      <tr>
      <th colspan="5">Ваш персональны менеджер</th>
      </tr>
      <tr>
      <th><% if @kp.order.user.present? %><%= @kp.order.user.name %><% else %>Тест<% end %></th>
      <th><%=  params.key?('debug') ? image_tag('/kp_phone.png') : wicked_pdf_image_tag("/kp_phone.png") %></th>
      <th>88005501314</th>
      <th><%=  params.key?('debug') ? image_tag('/kp_email.png') : wicked_pdf_image_tag("/kp_email.png") %></th>
      <th><a href="mailto:info@adventer.su">info@adventer.su</a></th>
      </tr>
    </table>
  </div>
<div class="footer-right-part">
  <%=  params.key?('debug') ? image_tag('/kp_logo_footer.png') : wicked_pdf_image_tag("/kp_logo_footer.png") %>
</div>
</div>
<!-- <center>Invoice was created on a computer and is valid without the signature and seal.<span class="footerContent">test</span></center>
<center>
  <span style="margin-right: 60px;">__________________(подпись)</span><span style="margin-right: 60px;">__________________(подпись)</span>Стр. <span class="page"></span> из <span class="topage"></span>
</center> -->
  </body>
</html>
