<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= wicked_pdf_stylesheet_link_tag("print1") %>
  <%= wicked_pdf_javascript_include_tag("number_pages") %>
</head>

<body>
<div style='width:750px'>
  <%=  params.key?('debug') ? image_tag('/logo_little__200x70_.png') : wicked_pdf_image_tag("/logo_little__200x70_.png", :class =>'logo') %>

<center style='margin-top:40px'>
<h2><% if @kp.title.present? %><%= @kp.title%><%else%>КП № <%= current_user.id%>-<%= @kp.id %><% end %>  от <%= @kp.created_at.strftime("%d / %m / %Y")%></h2>
</center>
<p style='margin-top:30px;'>Плательщик:
<span style='margin-left: 27px'>
<%= @company.title if @company !=nil %> <%= @company.uraddress if @company!=nil%> ИНН<%= @company.inn if @company !=nil%> КПП <%= @companykpp if @company !=nil%>
</span>
</p>
<p>
Грузополучатель:
<span>
<%= @company.title if @company !=nil %> <%= @company.uraddress if @company!=nil%> ИНН<%= @company.inn if @company !=nil%> КПП <%= @companykpp if @company !=nil%>
</span>
</p>
<table class='borders_table products_table' style='width:750px; margin-top: 20px'>
  <thead>
    <tr>
    	<th align='left'>№</th>
    		<th>Артикул</th>
        <th>Фото</th>
    		<th>Наименование товара</th>
    		<th>Единица измерения</th>
    		<th>Количество</th>
    		<th>Цена</th>
    		<th>Сумма</th>
    </tr>
  </thead>
  <tbody>
    <% @kp.kp_products.each_with_index do |kp, i| %>
    <tr>
      <td align='center'><%= (i+1) %></td>
      <td align="center"><%= kp.product.sku %></td>
      <td class="center"><%= image_tag wicked_image_active_storage_workaround(kp.product.images.first), style: "max-width:40px;" %></td>
      <td align="center"><%= kp.product.title %></td>
      <td align='center'>шт</td>
      <td align='center'><%= kp.quantity %></td>
      <td align='right'><%= kp.price %></td>
      <td align='right'><%= kp.sum.to_f.round(2)%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<table align='right'>
<tr>
<td align='right' width='120'>
<b>Итого</b>
</td>
<td align='right' width='80'><%= @kp.kp_products.sum(:sum).to_f.round(2)%></td>
</tr>
<tr>
<td align='right' width='120'>
<b>Скидка</b>
</td>
<td align='right' width='80'></td>
</tr>
<tr>
<td align='right' width='120'>
<!--<b>Доставка</b>-->
</td>
</tr>
<tr>
<td align='right' width='130'>
<b>В том числе НДС</b>
</td>
<td align='right' width='80'><%= (@kp.kp_products.sum(:sum).to_f.round(2)*100/118).to_f.round(2) %></td>
</tr>
<tr>
<td align='right' width='120'>
<b>Всего к оплате</b>
</td>
<td align='right' width='80'><%= @kp.kp_products.sum(:sum).to_f.round(2) %></td>
</tr>
</table>
<div style='clear:both'></div>
<p>
<b>
Всего наименований: <%= @kp.kp_products.count.to_s %>
</b>
<br>
<b>
Всего к оплате: <%= RuPropisju.rublej( @kp.kp_products.sum(:sum).to_f.round(2) )%>.
</b>
<b>

</b>
</p>
<div style='height:60px; position:relative;'>
	<span style='width:100px;display: inline-block;'>Поставщик</span>
	<span style='border-bottom: 1px solid;'>Общество с ограниченной ответственностью</span>
	<span style='border-bottom: 1px solid;margin-left:30px;'><%# wicked_pdf_image_tag("podpis.png", :height =>'60') %></span>
	<span style='border-bottom: 1px solid;margin-left:30px;'>/ Иванов О.А./</span>
</div>
</div>
</body>
