<tr class="nested-fields align-middle" data="<%= f.present?%>">
    <td class="p-1"  style="width:15%;"><%= f.input :sku , label: false %></td>
    <td class="p-1 w-25"><%= f.input :title , label: false %></td>
    <td class="p-1 w-50"><%= f.input :desc , label: false %></td>
    <td class="p-1 w-25"><%= f.input :period , collection: 1..30, label: false,  input_html: { class: "form-select" } %></td>
    <td class="p-1"><%= link_to_remove_association '<span class="oi oi-trash"></span>'.html_safe, f %></td>
    <td class="p-1">
    <% if f.object.id.present? && f.object.images %>
    <% f.object.images.each do |image|%>
    <a href="<%= url_for(image)%>" target="_blank">
         <%= image_tag image.variant(resize: "100x100") %>
         </a>
    <% end%>
    <% end%>
    </td>
    <%= f.input :product_id, as: :hidden %>
</tr>


