<div class="row justify-content-center align-items-center mb-4">
  <div class="col-2 row">
    <div class="col-md-12 p-0">
      <div class="h3">Товары</div>
      <div class="h6">Всего - <%= Product.count %></div>
    </div>
  </div>
  <div class="col-10 pl-0 pr-0 row">
    <div class="col-12 mb-3">
      <div class="btn-group p-0" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown">Действия</button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <%# link_to 'Добавить товар', new_product_path, class: 'dropdown-item' %>
            <%= link_to 'Обновить каталог', insales_import_products_path, class: 'dropdown-item' if can? :insales_import, Product %>
          </div>
        </div>
      </div>
    </div>

  <%= search_form_for @search, {class: 'form-inline col-12 pl-0 pr-0'} do |f| %>
    <div class="input-group input-group-sm">
      <%= f.search_field :sku_or_title_cont , placeholder: 'Sku или Название', class: "form-control", style: "max-width: 280px;" %>
      <%= button_tag(type: 'submit', :class => "btn btn-info") do %>
        <span class="oi oi-magnifying-glass"></span>
      <% end %>
      <%= link_to '<span class="oi oi-reload"></span>'.html_safe, clients_path, class: 'btn btn-outline-dark ' %>
      <%# link_to '<span class="oi oi-trash"></span>'.html_safe, delete_selected_clients_path, class: 'btn btn-secondary', id: 'deleteAll', remote: true %>
    </div>
  <% end %>
  </div>
</div>

<div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
  <table class="table table-hover table-condensed">
  <thead>
    <tr class="text-secondary">
      <th><%= check_box_tag 'selectAll', 'selectAll'%></th>
      <th>Sku</th>
      <th>Название</th>
      <th>Описание</th>
      <th>Кол-во</th>
      <th>Цена закупки</th>
      <th>Цена продажи</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="items_table" class="border-0">
    <% @products.each do |product| %>
    <tr>
      <td><%= check_box_tag "product_ids[]", product.id %></td>
        <td style="width:170px;"><%= product.sku.truncate(20) if product.sku.present? %></td>
        <td style="width:250px;"><%= link_to product.title, edit_product_path(product)%></td>
        <td style="width:250px;"><%= product.desc %></td>
        <td><%= product.quantity %></td>
        <td><%= product.costprice %></td>
        <td><%= product.price %></td>
        <td><%= link_to '<span class="oi oi-trash"></span>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="apple_pagination">
  <%= will_paginate @products %>
</div>
