<div class="row">
<div class="col-6">
<p><strong>Sku:</strong> <%= @product.sku %></p>
<p><strong>Title:</strong> <%= @product.title %></p>
<p><strong>Desc:</strong> <%= @product.desc %></p>
<p><strong>Quantity:</strong> <%= @product.quantity %></p>
<p><strong>Costprice:</strong> <%= @product.costprice %></p>
<p><strong>Price:</strong> <%= @product.price %></p>
</div>
<div class="col-6">
  <%= render '/layouts/image_form', :f => @product %>
</div>

<div class="col-12 mt-4">
<div class="col-6 mb-2 h4">Варианты</div>
  <div class="table-responsive">
    <table class="table table-primary">
      <thead>
        <tr>
          <th scope="col">Sku</th>
          <th scope="col">Title</th>
          <th scope="col">Desc</th>
          <th scope="col">Картинки</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @product.variants.each do |variant|%>
        <tr class="">
          <td scope="row"><%= variant.sku%></td>
          <td><%= variant.title%></td>
          <td><%= variant.desc%></td>
          <td> 
          <%= form_tag create_images_variants_path(variant), method: :post do %>
            <p><label>Color</label>
            <%= select_tag "background", options_for_select(Product::ImageBackground) %>
            <label>Size</label>
            <%= select_tag "size", options_for_select(Product::ImageSize) %></p>
            <p><%= submit_tag "Create image", class: "btn btn-primary btn-sm" %></p>
          <% end %>
          </td>
           <td class="pt-0"><%= render '/layouts/image_form', :f => variant %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>

</div>

<div class="row">
<div class="col-2 btn-group mt-5">
<%= link_to 'Редактировать', edit_product_path(@product) , class: 'btn btn-success' %>
<%= link_to 'Назад', products_path, class: 'btn btn-outline-primary' %>
</div>
</div>
